.navbar{
    text-align: center;
    background-color: rgb(235, 169, 180);
    color:#ffffff;
}

.inicio{
    margin: 10px;
}

.limpieza{
    margin: 10px;
}

.hidratacion{
    margin: 10px;
}

.nocturno{
    margin: 10px;
}

.lociones{
    margin: 10px;
}

.solar{
    margin: 10px;
}

.contacto{
    margin: 10px;
}

.quienesSomos{
    margin: 10px;
}